
@font-face {
    font-family: 'Lato-Regular';
    src: url('../fonts/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Lato-Light';
    src: url('../fonts/Lato-Light.ttf') format('truetype');
    font-weight: normal;
    font-weight: normal;
}
body {
    font-family: 'Lato-Regular';
   
}

h1 {
    font-family: 'Lato-Light'; 
}

nav {
    letter-spacing: .5px;
}

.display-4 {
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;
}

main > .container {
    padding: 70px 15px 20px;
}

.footer {
    background-color: #f5f5f5;
    font-size: .9em;
    height: 60px;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    content: '';
    left: 3px;
    display: inline-block;
    width: 0;
    height: 0;
    border: solid 5px transparent;
    margin: 4px 4px 2px 4px;
    background: transparent;
}

a.asc:after {
    border-bottom: solid 7px #212529;
    border-top-width: 0;
}

a.desc:after {
    border-top: solid 7px #212529;
    border-bottom-width: 0;
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding-top: 7px;
    color: rgba(255, 255, 255, 0.5);
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 0;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.navbar-brand {
    padding-bottom: 0.5125rem;
}

.header{
    margin-top: -50px;
    margin-bottom: -50px;
}

/*  Identidad    */

.btn-lxt {
    color: #fff;
    background-color: #1870ff;
    border-color: #1870ff;
}

.btn-lxt:focus, .btn-lxt:hover , .btn-lxt:active{
    color: #1870ff;
    background-color: #fff;
    border-color: #1870ff;
}

.btn-outline-lxt {
    color: #1870ff;
    border-color: #1870ff;
}

.btn-outline-lxt:hover {
    color: #fff;
    background-color: #1870ff;
    border-color: #1870ff;
}

.border-lxt {
    border-color: #1870ff !important; 
    border-width: 3px;
    border-radius: 2%;
    box-shadow: 2px 2px 10px #aaaaaa;
}

.border-lxt:hover{
    box-shadow: 5px 5px 10px #aaaaaa;
}

.bg-lxt{
    color: white;
    background-color: #1870ff !important;
    opacity: 1;
}

.text-lxt{
    color: #1870ff;
}

.hr-lxt {
    width: 50%;
    border-color: #1870ff;
}

/*  Header  */

#banner{
    background-image: url('../img/bg/bg-portada-blue.jpg');
    background-size: 180%;
    background-repeat: no-repeat;
    height: 400px;
    background-attachment: scroll;
    background-position: bottom center;
}

.txt-banner{
    font-size: 100px;
    text-transform: uppercase;
}

.sombra{
    text-shadow: 2px 1px 10px #000000;
}

/*  Utiles  */

.sombrabox{
    box-shadow: 1px 1px 5px #888888;
}

.separator-bg{
    width: 1px;
    margin-top: 100px; margin-bottom: 30px
}

.separator-sm {
    width: 1px;
    margin-top: 30px; margin-bottom: 30px
}

.centrar{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-shadow: 2px 1px 20px #000000;
}

/*  Cajas    */

.layout-grid-container {
    width: 100%;
    margin: auto;
    table-layout: fixed;
    display: table;
    
}

.box {
    display: inline-block;
    width: 25%;
}

.boxes-content {
    position: relative;
    min-height: 100%;
    max-height: 300px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    transition: all 0.7s;
    transition: transform .2s;
    font-size: 1.35rem !important;
    font-weight: 500;
    line-height: 1.2;
}

.boxes-content:hover {
    transform: scale(1.15);
    font-size: 1rem !important;
}

.box-img{
    display: block;
    width: 100%;
    height: auto;
}

.boxes-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 2px 1px 10px #000000;
}

.boxes-text:hover {
    color: white;
    text-decoration: none;
}

/*  Tarjetas    */

.card-title {
    font-size: 1.5rem;
}

/*  Por ordenar */

.espaciado{
    height: 100px;
}

.b-r-1{
    border-right: 1px solid white;
}

.b-b-1{
    border-bottom: 1px solid white;
}

/*  Tablas    */

.pagination {
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: 0.25rem;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-between;
    justify-content: center;
    align-items: center;
}
.control-label {
    display: block;
    margin-bottom: 0.5rem;
}

.iti {
    position: relative;
    display: block;
}

.imgview {
    height: auto;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 20px;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #1870ff !important;
}

.navbar-dark .navbar-nav .nav-link:active {
    color: #1870ff !important;
}

.navbar-dark .navbar-nav .nav-link:focus {
    color: #1870ff !important;
}

.shadow-lightblue{
    box-shadow: 0px 0px 4px lightblue;
}

.nomargin {
    margin-right: 0;
    margin-left: 0;
}

.nopadding {
    padding-right: 0;
    padding-left: 0;
}

.pbottom {
    padding-bottom: 20px;
}
.nomb {
    margin-bottom: 0;
}

.t-bgdark {
    background-color: #343a40 !important;
    opacity: .6;
    height: 50px;
    width:100%;
    position : absolute;
    top : 0;
    left : 0;
}

.t-bgdanger {
    background-color: #dc3545 !important;
    opacity: .6;
    height: 100%;
    width:100%;
    position : absolute;
    top : 0;
    left : 0;
    border-radius: 25% solid red;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

.cerrar{
    transition: opacity 0.6s;
    border: 1px solid #dc3545;
    border-radius: 0.5rem;
}

.home-card {
    transition: all 0.7s;
    transition: transform .2s;
}

.home-card:hover {
    transform: scale(.95);
    box-shadow: 0px 0px 4px lightskyblue !important;
}

.sombrabox {
    box-shadow: 1px 1px 5px #888888;
}
.text-white {
    color: #fff !important;
}
.bg-dark {
    background-color: #343a40 !important;
}
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 1.125);
    border-radius: 0.25rem;
}
a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

.card-img, .card-img-bottom {
    border-bottom-right-radius: calc(0.25rem - 1px);
    border-bottom-left-radius: calc(0.25rem - 1px);
}
.card-img, .card-img-top {
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
}
.card-img, .card-img-top, .card-img-bottom {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100%;
    height: 30%;
}