body {
    font-family: 'Lato-Regular';
   
}

h1 {
    font-family: 'Lato-Light'; 
    padding-top: 10px;
    margin-bottom: 20px;
    text-align: center;
}

.col-md-12 .btn-lxt {
    // Botones de las cabeceras
    margin-bottom: 20px;
}

nav {
    letter-spacing: .5px;
}

.display-4 {
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;
}

main > .container {
    padding: 70px 15px 20px;
}

.footer {
    background-color: #f5f5f5;
    font-size: .9em;
    height: 60px;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    content: '';
    left: 3px;
    display: inline-block;
    width: 0;
    height: 0;
    border: solid 5px transparent;
    margin: 4px 4px 2px 4px;
    background: transparent;
}

a.asc:after {
    border-bottom: solid 7px #212529;
    border-top-width: 0;
}

a.desc:after {
    border-top: solid 7px #212529;
    border-bottom-width: 0;
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding-top: 7px;
    color: rgba(255, 255, 255, 0.5);
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 0;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.navbar-brand {
    padding-bottom: 0.5125rem;
}

.header{
    margin-top: -50px;
    margin-bottom: -50px;
}

/*  Identidad    */

/* Boton con los colores de la marca */
.btn-lxt {
    color: #fff;
    background-color: #1870ff;
    border-color: #1870ff;
}

.btn-lxt:focus, .btn-lxt:hover , .btn-lxt:active{
    //color: #fff;
    //background-color: #528fff;
    //border-color: #528fff;
    color: #1870ff;
    background-color: #fff;
    border-color: #1870ff;
}

/* Boton principal alternativo */
.btn-outline-lxt {
    color: #1870ff;
    border-color: #1870ff;
}

.btn-outline-lxt:hover {
    color: #fff;
    background-color: #1870ff;
    border-color: #1870ff;
}

/* Borde con los colores de la marca */
.border-lxt {
    border-color: #1870ff !important; 
    border-width: 3px;
    border-radius: 2%;
    box-shadow: 2px 2px 10px #aaaaaa;
}

.border-lxt:hover{
    box-shadow: 5px 5px 10px #aaaaaa;
}

/* Fondo con el color de la marca */
.bg-lxt{
    color: white;
    background-color: #1870ff !important;
    opacity: 1;
}

/* Texto con el color de la marca */
.text-lxt{
    color: #1870ff;
}

/* Separador con el color principal */
.hr-lxt {
    width: 50%;
    border-color: #1870ff;
}

/*  Header  */

#banner{
    background-image: url('../img/bg/bg-portada-blue.jpg');
    background-size: 180%;
    background-repeat: no-repeat;
    height: 400px;
    background-attachment: scroll;
    background-position: bottom center;
}

/* Texto del banner */
.txt-banner{
    font-size: 100px;
    text-transform: uppercase;
}

.sombra{
    text-shadow: 2px 1px 10px #000000;
}

/*  Utiles  */

/* Sombra */
.sombrabox{
    box-shadow: 1px 1px 5px #888888;
}

/* Separador grande */
.separator-bg{
    width: 1px;
    margin-top: 100px; margin-bottom: 30px
}

/* Separador pequeño */
.separator-sm {
    width: 1px;
    margin-top: 30px; margin-bottom: 30px
}

/* Centrar */
.centrar{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-shadow: 2px 1px 20px #000000;
}

.espaciado{
    height: 100px;
}

/* Borde derecho */
.b-r-1{
    border-right: 1px solid white;
}

/* Borde bajo */
.b-b-1{
    border-bottom: 1px solid white;
}

.nomargin {
    margin-right: 0;
    margin-left: 0;
}

.nopadding {
    padding-right: 0;
    padding-left: 0;
}

.pbottom {
    padding-bottom: 20px;
}
.nomb {
    margin-bottom: 0;
}


/*  Cajas    */

.layout-grid-container {
    width: 100%;
    margin: auto;
    table-layout: fixed;
    display: table;
    //border-top-style: none;
    //border-top-width: 0px;
    
}

/* Cajas */
.box {
    display: inline-block;
    width: 25%;
}

/* Contenido de las cajas */
.boxes-content {
    position: relative;
    min-height: 100%;
    max-height: 300px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    transition: all 0.7s;
    transition: transform .2s;
    font-size: 1.35rem !important;
    font-weight: 500;
    line-height: 1.2;
}

.boxes-content:hover {
    transform: scale(1.15);
    font-size: 1rem !important;
}

/* Imagenes de las cajas */
.box-img{
    display: block;
    width: 100%;
    height: auto;
    //position: absolute;
    //transition: all 0.7s;
    //transition: transform .2s;
}

/* Texto de las cajas*/
.boxes-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 2px 1px 10px #000000;
}

.boxes-text:hover {
    color: white;
    text-decoration: none;
}

/*  Tarjetas    */

.card-title {
    font-size: 1.5rem;
}

.card-body h4 {
    min-height: 85px;
    max-height: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shadow-lightblue{
    box-shadow: 0px 0px 4px lightblue;
}

.home-card {
    transition: all 0.7s;
    transition: transform .2s;
}

.home-card:hover {
    transform: scale(.95);
    box-shadow: 0px 0px 4px lightskyblue !important;
}

/* Overlay oscuro para las tarjetas */
.t-bgdark {
    background-color: #343a40 !important;
    opacity: .6;
    height: 100%;
    width:100%;
    position : absolute;
    top : 0;
    left : 0;
}

/* Overlay Rojo para las tarjetas */
.t-bgdanger {
    background-color: #dc3545 !important;
    opacity: .6;
    height: 100%;
    width:100%;
    position : absolute;
    top : 0;
    left : 0;
    border-radius: 25% solid red;
}

/* Imagenes de las tarjetas*/
.imgview {
    height: auto;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 20px;
}

/*  Tablas    */


/* Paginacion */
.pagination {
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: 0.25rem;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-between;
    justify-content: center;
    align-items: center;
}
/* Etiqueta de control */
.control-label {
    display: block;
    margin-bottom: 0.5rem;
}

.iti {
    position: relative;
    display: block;
}

/* Menu */

.navbar-dark .navbar-nav .nav-link:hover {
    color: #1870ff !important;
}

.navbar-dark .navbar-nav .nav-link:active {
    color: #1870ff !important;
}

.navbar-dark .navbar-nav .nav-link:focus {
    color: #1870ff !important;
}


/* Advertencias */


/* Boton cerrar */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}
/* Animacion de cerrar */
.cerrar{
    transition: opacity 0.6s;
    border: 1px solid #dc3545;
    border-radius: 0.5rem;
}

/* Responsividad a las tarjetas (tarjetas de la pagina de inicio y entradas), botones y migas de pan */

@media only screen and (min-width: 990px) and (max-width: 1200px){
    
    /* Tamaño de las entradas */
    .entrada {
        width: auto;
        height: 250px;
    }
    
    /* Tamaño de las imagenes de las entradas */
    .entrada .card-img {
        width: 100%;
        height: 250px;
        object-fit:  fill; 
    }
    
    /* Botones de los rrpps contratados en un evento */
    .row .text-center .rrpps .col-md-6  {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        min-width: 100%;
    }
    .card-body h4 {
        min-height: 115px;
        max-height: 115px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (min-width: 770px) and (max-width: 990px){
    
    /* Separacion de las migas de pan */
    #w3, #w4 {
           margin-top: 40px !important;
    }
    
    /* Tamaño de las tarjetas de la pagina de inicio */
    .home-card, .home-card .card-img {
        height: 100px;
        object-fit: fill; 
    }
    
    /* Tamaño de los titulos de las tarjetas de la pagina de inicio */
    .home-card .card-title {
        font-size: 20px;
    }
    
    /* Tamaño de las entradas */
    .entrada {
        width: auto;
        height: 200px;
    }
 
    /* Tamaño de las imagenes de las entradas */
    .entrada .card-img {
        width: 100%;
        height: 200px;
        object-fit: fill; 
    }
}

@media only screen and (min-width: 575px) and (max-width: 770px){
  
    /* Separacion de las migas de pan */
    #w3, #w4 {
           margin-top: 10px !important;
    }
    
    /* Tamaño de las tarjetas de la pagina de inicio */
    .card-deck .home-card {
            min-width: 33.4%;  
            margin-bottom: 20px;
    }

    /* Tamaño de las entradas */
    .entrada {
        width: auto;
        height: 200px;
    }
 
    /* Tamaño de las imagenes de las entradas */
    .entrada .card-img {
        width: 100%;
        height: 200px;
        object-fit:  fill; 
    }
}

@media only screen and (min-width: 390px) and (max-width: 575px){
    
   /* Separacion de las migas de pan */
    #w3, #w4 {
           margin-top: 10px !important;
    }
    
    /* Tamaño de las entradas */
    .entrada {
        width: auto;
        height: 150px;
    }
    
    /* Tamaño de las imagenes de las entradas */
    .entrada .card-img {
        width: 100%;
        height: 150px;
        object-fit:  fill  ; 
    }
}

@media only screen and (max-width: 270px){
   
    /* Tamaño de las entradas */
    .entrada {
        width: auto;
        height: 250px;
    }
    
    /* Tamaño de las imagenes de las entradas */
    .entrada .card-img {
        width: 100%;
        height: 250px;
        object-fit:  fill  ; 
    }
}